.login-form{
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}

input{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(128, 124, 124);
    border-radius: 5px;
    background-color: lightgray;
}

button{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color: lightgray;
    border: 1px solid rgb(128, 124, 124);
    border-radius: 5px;
}